<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f7f2e4">
		<tr>
			<td>
				
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="middle" align="center" height="45">
							<p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
								</p></td>
							</tr>
						</table>
	
						
						<table style="background-color: #fffdf9;" width="684" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="top" width="173">
												
												<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td height="120" width="45"></td>
														<td background="images/ribbon.jpg" valign="top" bgcolor="#c72439" height="120" width="80">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td valign="bottom" align="center" height="35">
																		<p style="font-size: 14px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px;">DATE</p>
																	</td>
																</tr>
																<tr>
																	<td valign="top" align="center">
																		<p style="font-size: 36px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px; text-shadow: 1px 1px 1px #333;">{date}</p>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
											<td valign="middle" width="493"><table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td height="60"></td>
												</tr>
												<tr>
													<td>
														<h1 style="color: #333333; margin-top: 0px; margin-bottom: 0px; font-weight: normal; font-size: 48px; font-family: Georgia, 'Times New Roman', Times, serif"> <em style="  margin-left: 20%;">WaggingPal</em></h1>
													</td>
												</tr>
												<tr>
													<td height="40">
													</td>
												</tr>
											</table>
											
											
										</td>
										<td width="18"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table bgcolor="#fffdf9" cellspacing="0" border="0" align="center" cellpadding="30" width="684">
						<tr>
							<td>
								
								<table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
									<tr>
										<td>
											
											<table cellspacing="0" border="0" cellpadding="0" width="100%">
												<tr>
													<td valign="top" align="center">
														<h1 style="font-size: 32px; font-family: Georgia, 'Times New Roman', Times, serif; color: #4e3227; margin-top: 0px; margin-bottom: 0px; font-weight: normal;"><em>Welcome</em></h1>
														<img style="display:block; margin:0; padding:0;" src="images/img-3.jpg">
														<p style="color: #000; margin-top: 0px; margin-bottom: 0px; font-size: 17px; color:#bc1f31; font-family: Georgia, 'Times New Roman', Times, serif;">Email ID :{email}</p>
														<img style="display:block; margin:0; padding:0;" src="images/img-3.jpg">
														<p style="color: #000; margin-top: 0px; margin-bottom: 0px; font-size: 17px; color:#bc1f31; font-family: Georgia, 'Times New Roman', Times, serif;"> New password : {password}</p>
														<img style="display:block; margin:0; padding:0;" src="images/img-3.jpg">
														<p style="color: #000; margin-top: 0px; margin-bottom: 0px; font-size: 17px; color:#bc1f31; font-family: Georgia, 'Times New Roman', Times, serif;"> Use your email and new password to login again.</p>
														<!-- <img style="display:block; margin:0; padding:0;" src="images/img-3.jpg">
														<p style="color: #000; margin-top: 0px; margin-bottom: 0px; font-size: 17px; color:#bc1f31; font-family: Georgia, 'Times New Roman', Times, serif;">verify account : {link}</p> -->
													
														<!-- <img style="display:block; margin:0; padding:0;" src="images/img-3.jpg"> -->
													</td>
												</tr>
											</table>
											
											<table cellspacing="0" border="0" cellpadding="0" width="100%">
												<tr>
													<td height="72"><img src="images/img-2.jpg" width="622" height="72">
													</td>
												</tr>
											</table>
										
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table width="680" border="0" align="center" cellpadding="30" cellspacing="0">
									<tr>
										<td valign="top">
											<p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
												 You have received this e-mail because you Forgot your password.<br> 
												</p>
											</td>
											<td valign="top"><p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">@Copyright WaggingPal , 
												All rights reserved.</p></td>
											</tr>
											<tr>
												<td height="30"></td>
												<td height="30"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>